# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/

# VS Code settings (optional)
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS and system files
.DS_Store
